/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Scriptina_Pro';
    src: url('./assets/fonts/Scriptina_Pro-webfont.woff2') format('woff2'),
         url('./assets/fonts/Scriptina_Pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.login {
    overflow-x: hidden !important;
  
    .page-header {
      min-height: 550px !important;
  
      .container {
        padding-top: 40vh !important ;
      }
    }
}

.page-header{
  min-height: 50vh !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
