<div class="wrapper">
    <div class="header">
        <img class="dots" src="assets/img/dots.png" />

        <img class="path" src="assets/img/path4.png" />

        <div class="container align-items-center page-header init-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle" src="assets/img/mike.jpg" />
                            <h4 class="title">Inicie Sesión</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Correo </label>
                                            <input class="form-control" type="email" placeholder="correo@email.com" [(ngModel)]="user" name="user"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Contraseña </label>
                                            <input class="form-control" placeholder="*******" type="password" [(ngModel)]="wordpass" name="wordpass"/>
                                        </div>
                                    </div>
                                </div>
                                <button (click)="authenticate(true)" class="float-left btn btn-neutral btn-round mr-1">Iniciar con Google <i class="tim-icons icon-badge"> </i></button>
                                <button class="btn btn-danger btn-round float-right" placement="right" type="submit" (click)="authenticate(false)" >
                                    Iniciar Sesión
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>