<div class="page-header-block">
    <div class="row ">
        <div class="col-2 adjust-bar">
            <h3>
                <i>
                    Menú
                </i>
            </h3>
            <hr />
            <div class="row align-middle">
                <a><h4>Secciones</h4></a>
            </div>
            <div class="row align-middle">
                <a><h4>Publicaciones</h4></a>
            </div>
            <div class="row align-middle">
                <a><h4>Otras</h4></a>
            </div>
            <div class="row align-middle">
                <a><h4>Usuarios</h4></a>
            </div>
            <div class="row align-middle">
                <a><h4>información</h4></a>
            </div>
        </div>
        <div class="col-9 header-blog ml-3">
            <div class="row">
                <h1> Administrar Blog</h1>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
